<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LiveRetro · Phoenix Framework</title>

    <!--Import Google Icon Font-->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="amber lighten-1">
      <div class="nav-wrapper">
        <a class="center brand-logo" href="/">
          LiveRetro
        </a>

        <!-- powered by Phoenix -->
        <span class="hide-on-small-only">
          <a class="brand-logo right phx-logo-text" href="https://phoenixframework.org/">
            powered by
          </a>
        </span>
        <a class="brand-logo right phx-logo" href="https://phoenixframework.org/">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix-only.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </div>
    </nav>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
