<item>
  <div class="card <%= color_for(@type) %> darken-1">
    <a href="#" phx-click="edit" phx-value="<%= @id %>">
      <div class="card-content white-text">
        <p style="white-space: pre;"><%= @text %></p>
      </div>
    </a>
  </div>
</item>
