/* This file is for your main application css. */

@import "./materialize";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.phx-logo-text {
    font-size: 1.3rem !important;
    margin-right: 85px;
}

.phx-logo {
    height: 100%;

    img {
      height: 90%;
      margin-top: 4px;
    }
}

.card {
  position: relative;

  .delete {
    color: #fff;
    text-align: center;
    height: 2em;
    width: 2em;

    position: absolute;
    right: 0;
    top: 2px;
  }
}
