<item>
  <form phx-submit="update" class="card  <%= color_for(@type) %> darken-1">
    <div class="card-content input-field">
      <input autofocus
             class="white-text"
             name="text"
             value="<%= @text %>">
      </input>
    </div>
  </form>
</item>
